<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SimpleMigration"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(local);Initial Catalog=SMigTest;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="block_split_pattern" value="^([Gg][Oo]\r\n|[Gg][Oo]\r|[Gg][Oo]\n|[Gg][Oo])$"/>
    <add key="uppercase_block_split_token" value="GO"/>
    <add key="tag" value="detault"/>
  </appSettings>
</configuration>